.DS_Store
data/Task_3_dataset/*
log
test.py
output/*.out
error/*.out
neptune/*
model/*
logs/*
graph/*
sanity_check/model*
__pycache__/*
sanity_check/.neptune/
sanity_check/output/*.out
sanity_check/error/*.out
sanity_check/model/*.kt
